<mat-toolbar
  color="primary"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <button mat-button routerLink="/floral">
    <img src="assets/img/floral_logo.png" style="height: 20px" />
    {{ title }}
  </button>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/floral/orders">
      <mat-icon>receipt</mat-icon>
      Orders
    </button>
    <button mat-button *ngIf="isAuthenticated" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/floral">
    <mat-icon>space_dashboard</mat-icon>
    Home
  </button>
  <button mat-menu-item routerLink="/floral/orders">
    <mat-icon>receipt</mat-icon>
    Orders
  </button>
  <button mat-menu-item *ngIf="isAuthenticated" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu>

<router-outlet></router-outlet>
