<mat-card>
  <mat-card-content fxLayout="column" fxLayoutAlign="center center">
    <h3>Order #{{ order.id }}</h3>

    <p>{{ order.date | date: 'mediumDate' }}</p>

    <div
      *ngFor="let detail of order.detail"
      [id]="'detail-' + detail.id"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <p>
        <span>{{ detail.name }}</span>
        <span>{{ detail.description }}</span>
      </p>
      <span>{{ detail.cost | currency }}</span>
    </div>

    <button mat-icon-button (click)="delete.emit(order)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
